<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <!-- vue 3 package load-->
    <script src="https://unpkg.com/vue@next"></script> 
    <!-- links here for css style sheet local for bootstrap style css helps nice clean looks preset -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <!-- working with the scripting Vue app -->
    <div id="app"> 

        <!-- displaying Daily Paractice the name of my activity tracker-->
        <h1 class="text-center"> Daily Practice Time Tracker</h1> 

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <!--  use v-if to show this if there are validation errors -->
                <div class="alert alert-danger" v-if="errors.length > 0">
                    <!-- show a list of validation errors from form -->
                    <ul>
                        <li v-for="error in errors">{{ error}}</li>
                    </ul>

                </div>

                <div class="form-group">
                    <!-- display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <!-- use v-model to connect this input to dateString data -->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <!--use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <!--  Create select element, use v-model to connect to the types.
                         links to our array list-->                    
                    <!-- Use v-for to create option elements, one for each type displays those options-->
                    <select class="form-control" v-model="type">
                        <option v-for="activityType in types">{{activityType}}</option> 
                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <!-- v-model media setup both as v-model medium -->
                    <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
                    <label class="form-check-label" for="media1">Traditional <!--Display text -->  </label>
                </div>

                <div class="form-check-inline">
                    <!-- v-model media -->
                    <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
                    <label class="form-check-label" for="media2">Digital  <!--Display text -->  </label>
                </div>

                <div>
                    <!-- Added v-on:click submitt, method added for this -->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submitt">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> <!-- TODO Display number of records --> records</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                        </tr>
                        <!-- use v-for to create one table row for each activity record -->
                        <tr v-for="record in activityRecords">
                            <td>{{ShortDate     (record.date)}}</td>
                            <td>{{record.hours}}</td>
                            <td>{{record.type}}</td>
                            <td>{{record.medium}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>You have practiced a total of <!-- TODO display total hours --> hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>
    //   created a new Vue app here
    let app = Vue.createApp({
        data() {
            return {
                //name of the activity being tracked
                activity: 'Daily Practice',
                //an array of all the activity records will get added to the activityArray. 
                activityRecords: [],
                //v-modeled to the form inputs. DateString better description the data is set to.
                dateString: '',
                hours: 1,
                type: 'Meditation',
                medium: 'Traditional',
                //array for types of activity to select drop down.    
                types: ['Meditation', 'Exercise', 'Homework'],
                
                errors: []
            }
        },
        methods:{
            submitt(){ //method declarions

                this.errors = []

                let date = new Date(this.dateString)
                //is date validate today or past
                if(!this.dateString || this.dateString === 'Invalid Date' || date > new Date() ) {
                    this.errors.push('Please select a valid date, today or one in the past.')
                }
                
                if(this.hours <= 0 || this.hours > 24) {
                    this.errors.push('Please choose number of hours greater than 0, less than or equal to 24.')
                }
                if(!this.type) {
                    this.errors.push('Please select a type')
                }
                if(!this.medium) {
                    this.errors.push('Please select a medium')
                }
                if (this.errors.length === 0) {                    
                    let record = {
                        date: date,
                        hours: this.hours,
                        type: this.type,
                        medium: this.medium
                    }                

                    this.activityRecords.push(record)
                }        
                //console.log(this.activityRecords)
            },
            ShortDate(date){
                return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC' }).format(date)
            }

        }
        
    })   

    app.mount('#app')
  
    </script> <!--scrit ends here-->

</body>
    <!-- end of body and html document element page here -->
</html>