#records {
    max-height: 250px;
    overflow: scroll; 
}

.pb-2 {
    background-color: whitesmoke;

}
#text-notes{
    display: block;
}
[v-cloak]{
    display: none;
}
.form-group{
    background-color: whitesmoke;
}
.table-hover{
    background-color: wheat;
}
/* .color{
    background-color: thistle;
} */
.Meditation{

    background-color: thistle;
}
.Exercise {
    background-color: rgb(92, 175, 171);

}

.Homework{

    background-color: lightgreen;

}
